[submodule "src/modules/iq_sim"]
	path = src/modules/iq_sim
	url = https://github.com/janchk/iq_sim
[submodule "src/modules/realsense-ros"]
	path = src/modules/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/modules/robot_localization"]
	path = src/modules/robot_localization
	url = https://github.com/janchk/robot_localization.git
[submodule "src/modules/orb_slam_2"]
	path = src/modules/orb_slam_2
	url = https://github.com/janchk/orb_slam_2_ros.git
[submodule "src/modules/mavros"]
	path = src/modules/mavros
	url = https://github.com/mavlink/mavros.git
